@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: __Roboto_a48f64, __Roboto_Fallback_a48f64, system-ui,arial;
    background: linear-gradient(to top, rgb(165, 221, 241), rgb(98, 198, 232));
    height: 100%;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
